# 该网络配置文件仅仅是用来测试MobileNetv1之用

[net]
batch = 64
subdivisions = 8
# Training
width = 512
height = 512
channels = 3
momentum = 0.949
decay = 0.0005
angle = 0
saturation = 1.5
exposure = 1.5
hue = .1

learning_rate = 0.0013
burn_in = 1000
max_batches = 500500
policy = steps
steps = 400000,450000
scales = .1,.1

#cutmix=1
mosaic = 1

#:104x104 54:52x52 85:26x26 104:13x13 for 416

[convolutional]
batch_normalize = 1
filters = 32
size = 3
stride = 2
pad = 1
activation = relu6

# 第一阶段的5个深度可分离卷积

[depthwiseconvolutional]
filters = 64
stride = 1

[depthwiseconvolutional]
filters = 64
stride = 2

[depthwiseconvolutional]
filters = 128
stride = 1

[depthwiseconvolutional]
filters = 256
stride = 2

[depthwiseconvolutional]
filters = 256
stride = 1

# 第二阶段的6个深度可分离卷积

[depthwiseconvolutional]
filters = 512
stride = 2

[depthwiseconvolutional]
filters = 512
stride = 1

[depthwiseconvolutional]
filters = 512
stride = 1

[depthwiseconvolutional]
filters = 512
stride = 1

[depthwiseconvolutional]
filters = 512
stride = 1

[depthwiseconvolutional]
filters = 512
stride = 1

# 第三阶段的2个深度可分离卷积

[depthwiseconvolutional]
filters = 1024
stride = 2

[depthwiseconvolutional]
filters = 1024
stride = 1